 body{
    background-color: #be552e;
} 
#pinkbox{
    height: 100%;
    background-color:#E4D4C8;
    

    
}

.box1{
    padding-left: 3%;
    
   
}
.box1 img {
    border: 5px solid navy;
    float: right;
    width: 40%;
    height: 60%;
    margin-top: 30px;
    
}

.box2 img{
    float: left;
    border: 5px solid whitesmoke;
    width: 40%;
    height: 60%;

}
.box2 p{
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #738B19;


}
.box1 p{
    
    text-align: justify;
    color: #be552e;
    
    
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box3{
    padding-right: 5%;
}
.box3 img{
    border: 3px solid beige;
    border-spacing: 3em 1em;
    float: left;
    width: 40%;
    height: 60%;
    

}
.box4 img{
    border: 4px solid olive;
    float: left;
    width: 40%;
    height: 60%;
}
hr{
    
    margin-top: 4%;

}
h2{
    color:green ;
    font-weight: bolder;
    margin:30px 30;
}
p{
    color:beige;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

/* figure{
    float: right;
    width: 30%;
    text-align: center;
    font-style: italic;
    border: 3px solid seagreen;
    margin: 0.5em;
    padding: 0.5em;
} */


/* .box2 img{
    width: 50%;
} */

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
}


.pic1 img{
    float: left;
    width: 20%;
    
    

}
.pic2 img{
    float: right;
    width: 20%;
    height: 40%;

}

/* #navbar {
    border: 3px solid #81B622 ;
    background-color: gold;
    margin-top: 50%;

} */
.home{
    background-color: palevioletred;
}

.navbar1{
    /* list-style-type: none;
    width: 50%; */
    /* text-align: center; */
    background-color: rgb(157, 129, 129);
    height: 100%;
    margin-bottom: 10%;
    font-weight: bold;
    /* font-size: 20px;
    padding: 0; */
    
}
.navbar1 >li{
    /* text-align: center; */
    
    /* margin-right: 30%;
    background-color: beige; */
    
    float: left;
    display: inline;
    width: 25%;
    


    
    
}
.navbar >li>a{
    text-align: center;
    text-decoration: center;
    padding: 24px 30%;
    display: inline-block;
    width: 25%;
    

}
.navbar1 > li > a:hover {
    background-color: #d45216;
    color: khaki;

}
.events>a {
    border: 2px solid white;
    background-color: lavender;
}
dl{
    color: lightgoldenrodyellow;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table {
    border: 2px solid #d45216;
    background-color: lightgray;
}
.cost{
    background-color:greenyellow;
}
.price{
    background-color: greenyellow;
}
.total, .hm{
    background-color: greenyellow;
}
address{
    padding-left: 5%;
}

