h1, h3{
    text-align: center;
}
.container{
    text-align: center;
}

#navbar{
    /* list-style-type: none;
    width: 50%; */
    /* text-align: center; */
    
    background-color: rgb(157, 129, 129);
    height: 100%;
    margin-top: 50%;
    /* margin-bottom:2em; */
    font-weight: bold;
    /* font-size: 20px;
    padding: 0; */
    
}
#navbar >li{
    /* text-align: center; */
    
    /* margin-right: 30%;
    background-color: beige; */
    padding-top: 0%;
    
    float: left;
    display: inline;
    width: 25%;
    


    
    
}
#navbar >li>a{
    text-align: center;
    text-decoration: center;
    padding: 24px 30%;
    display: inline-block;
    width: 25%;
    

}
#navbar > li > a:hover {
    background-color: #d45216;
    color: khaki;

}