#navbar{
    /* list-style-type: none;
    width: 50%; */
    /* text-align: center; */
    background-color: rgb(157, 129, 129);
    height: 100%;
    margin-top: 2%;
     margin-bottom:2em;
    font-weight: bold;
    /* font-size: 20px;
    padding: 0; */
    
}
#navbar >li{
    /* text-align: center; */
    
    /* margin-right: 30%;
    background-color: beige; */
    padding-top: 0%;
    
    float: left;
    display: inline;
    width: 25%;
    


    
    
}
#navbar >li>a{
    text-align: center;
    text-decoration: center;
    padding: 24px 30%;
    display: inline-block;
    width: 25%;
    

}
#navbar > li > a:hover {
    background-color: #d45216;
    color: khaki;

}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container{
    height: 100%;
    background-color:#E4D4C8;

    
}
/* .box1{

} */

.box1 img {
    /* border: 5px solid gainsboro; */
    float: left;
    width: 25%;
    height: 60%;
    margin-top: 30px;
    
    
    
}

.box2 img {
    margin-top: 30px;
    float: right;
    /* border: 5px solid whitesmoke; */
    width: 20%;
    height: 2%;
    padding-left: 2%;

}
 p{
     /* margin-top: 2%; */
    text-align: justify;
    padding-top: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    
} 
figcaption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 2px solid salmon;
    /* padding-left: 8%;
    padding-right: 20%;   */
    margin-bottom: 15%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    
    
    
    /* margin-top: 19px;
     */
}
