body{
    background-image: url('https://res.cloudinary.com/hello-tickets/image/upload/c_limit,f_auto,q_auto,w_1300/v1610970006/fqvl85tb9ycanjwbufgj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    background-color: orange;
    border-radius: 20%;
    padding: 10px;
    
}
 .mainwindow{
    /* margin-bottom: 10%; */
    /* background-color: lightblue; */
    height: 10px;
    padding: 1%;
} 

.mdlwindow {
    background-color: rgb(66, 135, 245,0.6);
    /* margin-top: 0%;
    margin-bottom: 0%; */
    /* which make the whole block */
    position:fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0;
    pointer-events: none;

}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mdlwindow:target{
    opacity: 1;
    pointer-events: all;
}
#tomodal a{
    float: right;
}
.micbtn{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 40%;
    background-color: yellow;
    border-radius: 20%;
    
    
}
#tomodal1 a{
    float: right;
}
.micbtn1 a{
    margin-left: 20%;
    margin-right:40%

}
.row2 p{
    padding:10px 10px 10px 10px;
    background-color: wheat;
}


.msgblock{
    background-color: wheat;
    width: 60%;
    height: 100%;
    margin: auto;
    margin-top: 10%;
    
    padding: 4%;
    border-radius: 8px;

}

.msgblock h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.msgblock p{
    background-color: thistle;
}
.msgblock a{

    text-decoration: none;
    font-size: 30px;
    background-color: turquoise;
    padding: 4px;
    border-radius: 12px;

}
.box1{
    margin: 2%;
    /* border: 2px solid grey;
    background-color: grey; */
   
}
.row1{
    float: left;
}
.row1, .row2{
    margin: auto;
    padding: 0px 0px 0px 0px;
    border: 2px solid gray;
    width: 30%;
    height: 30%;
    background-color: white;
    text-align: center;
    
}

.row1 h1, .row2 h1{
    padding: 0px 0px 0px 0px;
    margin: 2%;
    font-size: 100%;
    text-align: center;
}
.row1 a, .row2 a {
    text-align: center;
}
.row1 img, .row2 img, .row3 img{
    width: 100%;
    margin: auto;
}
.row1 p{
    background-color: beige;
    padding: 10px 10px 10px 10px;
}
.row2{
    float:right;
    
}
.row3{
    text-align: center;
}
ul{
    border: 2px solid salmon;
    width: 100%;
    padding: 0%;
}

